{% extends 'base1.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> <i>&rsaquo;</i> 
    <a href="{% url 'programs' %}" class="primary1">Class</a> <i>&rsaquo;</i> Add</div>
<br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<style> body {
    background-image:url('{% static "assets/default/img/wallpaper.jpg" %}');
    background-repeat: no-repeat;
    background-size: cover;
   }
   .bag{
            background-image:url("{% static 'assets/default/img/bg1.jpg' %}");
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center center;
        }
</style>
<div class="row body">
<div class="col-md-6 mx-auto">
    <div class="card">
        <p class="form-title">Class Add Form</p>
        <div class="p-3 bag"><br>
            <form action="" method="post">{% csrf_token %}
                <div class="form-group">
                    <b>{{ form.name.label }}</b><p>{{ form.name }}</p>
                    <span class="danger">{{ form.name.errors }}</span>
                </div>
                <div class="form-group">
                    <b>{{ form.description.label }}</b><p>{{ form.description }}</p>
                    <span class="danger">{{ form.description.errors }}</span>
                </div>
                <label for="status" class="control-label">Status</label>
                <select type="text" id="status" name="status" class="form-select form-select-sm rounded-0" required>
                    {% if form.status == '1' %}
                    <option value="1" selected>Active</option>
                    {% else %}
                    <option value="1">Active</option>
                    {% endif %}
                    {% if form.status == '2' %}
                    <option value="2" selected>Inactive</option>
                    {% else %}
                    <option value="2">Inactive</option>
                    {% endif %}
                </select>
                <input class="btn btn-outline-primary" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}

<div class="container-fluid">
    
</div>
<script>
    $(function() {
        $('#category-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-category' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>